body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.video {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  border: 2px solid #333;
  max-width: 100%;
}

.canvas {
  width: 400px; /* Aumenta el ancho */
  height: 300px; /* Aumenta la altura */
  border: 2px solid #333;
  border-radius: 8px;
  position: fixed;
  right: 20px;
  top: 100px;
}

.controls {
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #555;
}

.emotions {
  margin-top: 20px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 20px auto;
}

.emotions h2 {
  margin-top: 0;
  color: #555;
}

.emotion {
  font-size: 1.2em;
  color: #333;
  text-transform: capitalize;
  margin: 5px 0;
}
